@{
  Layout = "_Layout";
}

@model TravelClient.Models.Destination;

<div class="jumbotron">
    <h2 class="display-4"> Add Destination</h2>
</div>

<div class='content'>
<form asp-controller="Destinations" asp-action="Post" method="post">
  @Html.LabelFor(model => model.Country)
    <br>
    @Html.TextBoxFor(model => model.Country)
    <br>
    <br>
    @Html.LabelFor(model => model.City)
    <br>
    @Html.TextBoxFor(model => model.City)
    <br>
    <br>
    <input type="submit" value="Add Destination" class="btn btn-secondary" />
</form>
</div>

<div class='links'>
  <p>@Html.ActionLink("Back to all destinations", "Index")</p>
</div>