@{
  Layout = "_Layout";
}

@model TravelClient.Models.Destination;

@* <h1>@Model.City, @Model.Country</h1> *@

<div class="jumbotron">
    <h2 class="display-4">@($"{Model.City}"), @($"{Model.Country}")</h2>
</div>

<div class='content'>

  @if(@Model.Reviews.Count == 0)
  {
    <h4>No reviews are available yet for this destination</h4>
  }
  else
  {
    <h4>Reviews:</h4>
    <table class="table table-striped">
      <tr>
        <th>Description</th>
        <th>Rating</th>
        <th>Reviewer Name</th>
      </tr>
      @foreach(var review in Model.Reviews)
      {
        <tr>
          <td>@review.Description</td>
          <td>@review.Rating</td>
          <td>@review.ReviewerName</td>
        </tr>
      }
    </table>
  }
</div>

<div class="footer">
  <div>@Html.ActionLink("Edit destination", "Edit", new {id = Model.DestinationId})</div>
  <div>@Html.ActionLink("Delete destination", "Delete", new {id = Model.DestinationId})</div>
</div>