@{
  Layout = "_Layout";
}
@using TravelClient.Models;
@model TravelClient.Models.Destination;

<div class="jumbotron">
    <h2 class="display-4"> Edit: @Html.DisplayTextFor(model => model.City), @Html.DisplayTextFor(model => model.Country)</h2>
</div>
<form asp-action="Edit" asp-controller="Destinations" method="post">
<div class='content'>
    @Html.HiddenFor(model => model.DestinationId)
    @Html.LabelFor(model => model.Country)
    <br>
    @Html.TextBoxFor(model => model.Country)
    <br>
    <br>
    @Html.LabelFor(model => model.City)
    <br>
    @Html.TextBoxFor(model => model.City)
    <br>
    <br>
    <input type="submit" value="Edit" class="btn btn-secondary" />
</div>
</form>


<div class='links'>
  <p>@Html.ActionLink("Back to all destinations", "Index")</p>
</div>