@{
  Layout = "_Layout";
}

@model TravelApi.Models.Destination;

@* <h1>@Model.City, @Model.Country</h1> *@

<div class='content'>
  <h2>@($"{Model.Country}")</h2>
  <h2>@($"{Model.City}")</h2>

  @if(@Model.Reviews.Count == 0)
  {
    <p>No reviews are available yet for this destination</p>
  }
  else
  {
    <h4>Reviews:</h4>
    <table>
      <tr>
        <th>Description</th>
        <th>Rating</th>
        <th>Reviewer Name</th>
      </tr>
      @foreach(var review in Model.Reviews)
      {
        <tr>
          <td>@review.Description</td>
          <td>@review.Rating</td>
          <td>@review.ReviewerName</td>
        </tr>
      }
    </table>



  }
</div>

<div class='links'>
  <p>@Html.ActionLink("Back to all destinations", "Index")

</div>