@{
  Layout = "_Layout";
}

@model TravelApi.Models.Review;

<h1>Add Review</h1>

<div class='content'>
  @using(Html.BeginForm())
  {
    @Html.LabelFor(model => model.ReviewerName);
     <br>
    @Html.TextBoxFor(model => model.ReviewerName);
    <br>
    <br>
    <label for="DestinationId">Select a destination</label>
    @Html.DropDownList("DestinationId")
    <br>
    <br>
    @Html.LabelFor(model => model.Rating);
     <br>
    @Html.TextBoxFor(model => model.Rating);
    <br>
    <br>
    @Html.LabelFor(model => model.Description);
     <br>
    @Html.TextAreaFor(model => model.Description, new { cols = 35, @rows = 3 });
    <br>
    <br>
    <input type="submit" value="Add Review" class="btn btn-secondary" />
  }
</div>

<div class='links'>
  <p>@Html.ActionLink("Back to your reviews", "Get")</p>
</div>