@{
  Layout = "_Layout";
}

@using TravelApi.Models;
@model IEnumerable<TravelApi.Models.Review>

<div class="jumbotron">
<h2 class="display-4"> Reviews</h2>
</div>
@* <form asp-controller="Reviews" asp-action="Index" method="get">
  <h2>Search by:</h2>
<label class="col-md-2 control-label">Country:</label>
  <div class="col-md-10">
      <select name="Country" asp-items="ViewBag.Country" class="form-control" ></select>
  </div> *@

   @* <select asp-for="Country" name="" id=""></select>
    @Html.DropDownList("Country", "Choose country")
    <br>
   <label for="City">City</label>
    @Html.DropDownList("City", "Choose city")
    <p>
      <input type="submit" value="Filter" />
    </p>
</form> *@
<div class='content'>
  @if(Model.Any())
  {
    <table class="table table-striped">
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Rating</th>
        <th scope="col">Reviewer Name</th>
        <th scope="col">Country, City</th>
      </tr>
    @foreach(Review review in Model)
    {
      <tr>
        <td>@review.Description</td>
        <td>@review.Rating</td>
        <td>@review.ReviewerName</td>
        <td>@Html.ActionLink($"{review.Destination.Country}, {review.Destination.City}", "Details","Destinations", new { id = review.DestinationId })</td>
      </tr>
    }
    </table>
  }
  else
  {
    <h3>No reviews available</h3>
  }
  <p>@Html.ActionLink("Add a review", "Create")</p>
