@{
  Layout = "_Layout";
}

@using TravelApi.Models;
@model IEnumerable<TravelApi.Models.Review>

<h1>Reviews</h1>

<div class='content'>
  @if(Model.Any())
  {
    <table class="table table-striped">
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Rating</th>
        <th scope="col">Reviewer Name</th>
        <th scope="col">Country, City</th>
      </tr>
    @foreach(Review review in Model)
    {
      <tr>
        <td>@review.Description</td>
        <td>@review.Rating</td>
        <td>@review.ReviewerName</td>
        <td>@Html.ActionLink($"{review.Destination.Country}, {review.Destination.City}", "Details","Destinations", new { id = review.DestinationId })</td>
      </tr>
    }
    </table>
  }
  else
  {
    <h3>No reviews available</h3>
  }
</div>

<div class='links'>
  <p>@Html.ActionLink("Add an destination", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>