@{
  Layout = "_Layout";
}

@using TravelApi.Models;
@model IEnumerable<TravelApi.Models.Review>

<div class="jumbotron">
<h2 class="display-4"> Reviews</h2>
</div>

<form asp-controller="Reviews" asp-action="get" method="get">
  <h2>Search by:</h2>
  <div class="row">
    <div class="col-3">
  <div class="form-group">
<label class="col-md-2 control-label">Country:</label>
  <select class="custom-select custom-select-lg mb-3" name="country" asp-items="ViewBag.Countries"></select> 
  </div>
    </div>
    <div class="col-3">
<div class="form-group">
    <label class="col-md-2 control-label">City:</label>
  <select class="custom-select custom-select-lg mb-3" name="city" asp-items="ViewBag.Cities"></select> 
  </div>
    </div>
    <div class="col-3">
      <input class="btn btn-primary" type="submit" value="Search" />
    </div>
  </div>
 <form asp-controller="Reviews" asp-action="MostReviews" method="get">
   <input class="btn btn-primary" type="submit" value="Most Reviewed" />
 </form>

  
  
      
</form>
<div class='content'>
  @if(Model.Any())
  {
    <table class="table table-striped">
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Rating</th>
        <th scope="col">Reviewer Name</th>
        <th scope="col">Country, City</th>
      </tr>
    @foreach(Review review in Model)
    {
      <tr>
        <td>@review.Description</td>
        <td>@review.Rating</td>
        <td>@review.ReviewerName</td>
        <td>@Html.ActionLink($"{review.Destination.Country}, {review.Destination.City}", "Details","Destinations", new { id = review.DestinationId })</td>
      </tr>
    }
    </table>
  }
  else
  {
    <h3>No reviews available</h3>
  }
  <p>@Html.ActionLink("Add a review", "Create")</p>
