@{
  Layout = "_Layout";
}

@model TravelApi.Models.Destination;

<div class="jumbotron">
    <h2 class="display-4"> Edit Destination</h2>
</div>

<div class='content'>
 @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.DestinationId)
    <br>
    @Html.TextBoxFor(model => model.Country)
    <br>
    <br>
    @Html.LabelFor(model => model.City)
    <br>
    @Html.TextBoxFor(model => model.City)
    <br>
    <br>
    <input type="submit" value="Edit" class="btn btn-secondary" />
  }
</div>

<div class='links'>
  <p>@Html.ActionLink("Back to all destinations", "Index")</p>
</div>